@font-face {
	font-family: 'EsenapaJ';
	src: url('https://cdn.rawgit.com/raspi0124/my-sites-files/097f6373/esenapaj.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
