/*
* !!! WARNING !!!
* Editing this file may cause your instance to break for EVERYONE.
* Please know what you're doing and test it out with regular user custom CSS.
* With that said, GLHF!
* This may eventuallly be replaced with a function in the admin panel.
 */
/* 絵文字ピッカーで絵文字全体を表示する */
.omfetrab>.emojis section>.body>.item>.emoji{
    object-fit: fill;
    /* ここを変えると枠に対しての絵文字の幅が変わります */
    max-width: 95%;
}

/* ハッシュタグを強調する */
a[href*="/tags/"] {
    color: var(--hashtag);
    background-color: rgba(113, 136, 217, 0.1);
    padding: 5px 7px 5px 7px;
    border-radius: 8px;
    border-style: dashed;
    border-color: var(--hashtag);
    border-width: 1px;
}
.wbrkwala>.tags>div>.tag>.a {
    background-color: transparent;
    padding: 0px;
    border-radius: 0px;
    border-style: none;
}

/* 公開範囲によって色をつける */
.localOnly {
    background-color: rgba(50, 120, 190, 0.2) !important;
}
.v-home {
    background-color: rgba(36, 190, 56, 0.2) !important;
}
.v-followers {
    background-color: rgba(180, 55, 132, 0.2) !important;
}
.v-specified {
    background-color: rgba(190, 190, 50, 0.2) !important;
}

span > i.ph-bold.ph-envelope-simple-open::before,
span > i.ph-bold.ph-hand-fist::before{
    color: var(--infoWarnFg);
}

.tkcbzcuz>.article>.main>.body>.content>.renote>*,
.yohlumlk[data-v-db9cdae8]{
    background-color: var(--panel) !important;
}
.tkcbzcuz>.article>.main>.body>.content>.renote>*:has(.ph-house),
.yohlumlk[data-v-db9cdae8]:has(.ph-house) {
    background-color: rgba(36, 190, 56, 0) !important;
}
.mk-url-preview>.link{
        background-color: var(--panel) !important;
}
.hkzvhatu.canToggle{
        background-color: var(--panel);
}
.hkzvhatu.reacted, .hkzvhatu.reacted:hover{
    background-color: var(--accentLighten);
}

.hkzvhatu.canToggle {
    background: rgba(0,0,0,.08);
    border-radius: 6px !important;
}

.hkzvhatu {
    height: 38px !important;
    margin: 5px;
    max-width: 100%;
}
button.hkzvhatu > .mk-emoji.custom.normal {
    height: 1.6em;
    vertical-align: -.6em;
    max-width: 90%;
    padding: 4px;
}
.hkzvhatu>.count {
    font-size: 1.2em !important;
    line-height: 32px !important;
    margin: 0 0 0 8px !important;

}
.tdflqwzn {
    margin-top: .5em !important;
    margin-bottom: .3em !important;
}

/* 絵文字ピッカーの大きさを画面いっぱいに */
:root {
    /* 絵文字を表示するスペースの幅 */
    /* 95dvwで、画面の95%のサイズになります */
    --EmojiPickerWidth: 98dvw;
}

/* 全体サイズの指定 */
.omfetrab.w1,
.omfetrab.w2,
.omfetrab.w3,
.omfetrab.w4,
.omfetrab.w5{
    width: calc(var(--EmojiPickerWidth) + (8px * 2)) !important;
}

/* 1つあたりの絵文字のサイズの計算 */
.omfetrab.w1{
    --eachWidth: calc(var(--EmojiPickerWidth) / 5);
}
.omfetrab.w2{
    --eachWidth: calc(var(--EmojiPickerWidth) / 6);
}
.omfetrab.w3{
    --eachWidth: calc(var(--EmojiPickerWidth) / 7);
}
.omfetrab.w4{
    --eachWidth: calc(var(--EmojiPickerWidth) / 8);
}
.omfetrab.w5{
    --eachWidth: calc(var(--EmojiPickerWidth) / 16);
}

/* 上で計算したサイズの適用 */
.omfetrab>.emojis section>.body>.item{
    width: var(--eachWidth) !important;
}

/* 投稿画面のピッカーは絵文字サイズを縦横1:1にしようとするので縦に長くなってしまうのを修正 */
.omfetrab.asDrawer>.emojis section>.body>.item{
   height: var(--eachSize) !important;
   aspect-ratio: auto !important;
}

.havbbuyv .mk-emoji.custom {
    height: 1.4em;
    min-height: 1.4em;
    vertical-align: top;
}
.havbbuyv > .mk-emoji.custom {
    height: 1.4em;
    vertical-align: top;
}
.havbbuyv > span > .mk-emoji.custom {
    height: 1.4em;
    vertical-align: top;
}
.havbbuyv > span > span > .mk-emoji.custom {
    height: 1.4em;
    vertical-align: top;
}
.havbbuyv > span > span > span > .mk-emoji.custom {
    height: 1.4em;
    vertical-align: top;
}
span > span > span > span > .mk-emoji.custom {
    height: 1.4em;
    vertical-align: top;
}

html{
    line-height: 1.4;
}

.gafaadew>.form>.preview {
    padding: 4px 16px 16px 16px;
}

:not(.note) > .reply-to {
	display: none;
}
:not(.note) > .reply-to + .note-context {
	margin-top: 14px;
}
:not(.note) > .reply-to + .note-context .line::before {
	content: unset !important;
}
